.header {
    display: flex;
    justify-content: center;
    border-bottom: solid black 1px;
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

